# `ENVIRONMENT=dev` enables API endpoints to do "dev" things like resetting the database.
ENVIRONMENT=dev
POSTGRES_USER=pguser
POSTGRES_PASSWORD=pgpassword
POSTGRES_PORT=5432
POSTGRES_DB=postgresdb
DB_URL="postgres://pguser:pgpassword@serverurl:5432/postgresdb"
